/* The section of the page */
#main {
  @include flex-temp;
  min-height: 100vh;
}

/* Me, myself and I - Main H1 */

#main-title {
  font-size: 15rem;
  color: $text-color;
  line-height: 3rem;
  margin-bottom: 12rem;
  text-shadow: 6px 6px 9px black;
  font-weight: 500;
  font-style: italic;
}
