#flowchart {
  min-height: 100vh;

  /* Container around the heading text*/
  .flowchart-heading {
    display: flex;
    justify-content: center;
  }
  /* Flowchart title*/
  #flowchart-h1 {
    margin-top: 10rem;
    font-size: 10rem;
    color: $text-color;
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: 7rem;
    text-shadow: 6px 3px 1px rgba(255, 255, 255, 0.164);
    opacity: 0.7;
    text-align: center;
    letter-spacing: 1rem;
    z-index: 1;
  }

  /*Passcode in red behind Flowchart*/

  #flowchart-red {
    z-index: -1;
    color: $red;
    font-size: 2.5rem;
    letter-spacing: 2.1rem;
    position: absolute;
    text-align: center;
    margin-top: 10rem;
  }

  /*Container around image */
  .flowchart-img-con {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: 6rem;
  }
}

/*Flowchart boxes behind text*/
.st0 {
  fill: #2b3338;
  transition: all 1s ease 0s;
  &:hover {
    transition: all 0.5s ease-out 0s;
    fill: $red;
  }
}

.st1 {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st2 {
  fill: #d3d3d3;
  stroke: #d3d3d3;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #ffffff;
}
/* Text above boxes*/
.st4 {
  font-family: "TimesNewRomanPSMT";
}
.st5 {
  font-size: 24px;
}
.st6 {
  fill: #edf2f4;
}
.st7 {
  enable-background: new;
}

/* The image file */

<<<<<<< HEAD
text {
  .st-text {
    fill: red;
  }
=======
.layer-1 {
  width: 85%;
>>>>>>> e337d8342c7eb4f7d9cd7971696ba34650fb7458
}
