/* Variables */
/* Functions */
/* Sub pages for SCSS*/
/* Global button style*/
button {
  cursor: pointer;
  background-color: #2b3338;
  text-shadow: 2px 2px 3px black;
  border: none;
}

button:hover {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #d3d3d3;
  color: #161a1d;
  text-shadow: none;
}

/* Home button */
.home-btn {
  font-size: 2rem;
  padding: 1.3rem 2rem;
  width: 25rem;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Get choices button*/
.btn-continue {
  font-size: 2rem;
  min-width: 20rem;
  line-height: 2.5rem;
  padding: 1.2rem;
  border-radius: 1rem;
}

/* Go back to start button*/
.go-back-btn {
  width: 3%;
  fill: white;
  position: absolute;
  margin-left: 5rem;
  margin-top: 5rem;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  /* Rotating animation */
}

.go-back-btn:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  fill: #ba181b;
}

/* The section of the page */
#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-height: 100vh;
}

/* Me, myself and I - Main H1 */
#main-title {
  font-size: 11rem;
  color: #edf2f4;
  line-height: 3rem;
  font-weight: bold;
  margin-bottom: 7rem;
  text-shadow: 6px 6px 9px black;
}

/* Main text div, with display: flex */
.choice-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

/* Text inside the div*/
#choice-title {
  font-size: 6rem;
  line-height: 6rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 35ch;
}

.choice-text {
  max-width: 60ch;
  font-size: 2.2rem;
  line-height: 2.5ch;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 1px;
}

#flowchart {
  min-height: 100vh;
  /* Container around the heading text*/
  /* Flowchart title*/
  /*Passcode in red behind Flowchart*/
  /*Container around image */
}

#flowchart .flowchart-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#flowchart #flowchart-h1 {
  margin-top: 10rem;
  font-size: 10rem;
  color: #edf2f4;
  line-height: 3rem;
  font-weight: bold;
  margin-bottom: 7rem;
  text-shadow: 6px 3px 1px rgba(255, 255, 255, 0.164);
  opacity: 0.7;
  text-align: center;
  letter-spacing: 1rem;
  z-index: 1;
}

#flowchart #flowchart-red {
  z-index: -1;
  color: #ba181b;
  font-size: 2.5rem;
  letter-spacing: 2.1rem;
  position: absolute;
  text-align: center;
  margin-top: 10rem;
}

#flowchart .flowchart-img-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  padding-bottom: 6rem;
}

/*Flowchart boxes behind text*/
.st0 {
  fill: #2b3338;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.st0:hover {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  fill: #ba181b;
}

.st1 {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #d3d3d3;
  stroke: #d3d3d3;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #ffffff;
}

/* Text above boxes*/
.st4 {
  font-family: "TimesNewRomanPSMT";
}

.st5 {
  font-size: 24px;
}

.st6 {
  fill: #edf2f4;
}

.st7 {
  enable-background: new;
}

/* The image file */
.layer-1 {
  width: 85%;
}

/* Global styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  color: #edf2f4;
  font-size: 62.5%;
}

body {
  background-color: #08090c;
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */