/* Variables */
$btn-color: #2b3338;
$btn-hover: #d3d3d3;
$text-color: #edf2f4;
$red: #ba181b;
$text-w: 61ch;
$bg-color: #08090c;

/* Functions */
@mixin flex-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@mixin simple-anim {
  transition: all 0.5s ease-in-out 0s;
}

/* Sub pages for SCSS*/
@import "button";
@import "first-page";
@import "start-game";
@import "flowchart";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: $text-color;
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  min-height: 100vh;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: url("http://assets.iceable.com/img/noise-transparent.png") repeat
    0 0;
  background-repeat: repeat;
  animation: bg-animation 0.1s infinite;
  opacity: 1;
  visibility: visible;
  z-index: -1;
}

/* Animation */

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
